* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 20pt;
}

div.container div p {
    color: magenta;
}

div.container {
    color: lime;
}

h1, p {
    color: aquamarine;
}

form * {
    background: blue;
    /* color: orangered; */
}

form input[type="password"] {
    background:magenta;
}
